.description_title {
    font-size: 2em !important;
    margin-bottom: 15px;
    margin-top: 15px;
}

.content_avaliacoes {
    display: flex;
    gap: 50px;
    
}

.img_detail_area {
    max-width: 300px;
    min-width: 150px;
}

span {
    font-size: 1.1em;
}

.query_details {
    margin-top: 20px;
}