.centralizer_loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h2 {
    color: var(--dcp-white-color);
}