.dcp-button,
.dcp-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    border-radius: 6px;
    padding: 10px;
    height: 80px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dcp-button.accent,
.dcp-link.accent {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 5px solid var(--accent-border-color);
}

.dcp-button.primary,
.dcp-link.primary {
    background-color: var(--primary-color);
    color: white;
    border: 5px solid var(--primary-border-color);
}